#wrapper{}
#container{
    width: 1000px;
    height: 700px;
}

#clip{
    position: absolute;
    left: 800px;
    clip: rect(0px,200px,300px,0px);
}

p{
    font-size: 20px;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
}